[Desktop Entry]
Categories=System;Monitor;X-Red-Hat-Base;
Name=Drakon Process Manager
Comment=Drakon Process Manager
Icon=${SNAP}/meta/gui/drakon.png
Exec=nps-drakon
Type=Application
